body {
    width: 90%;
    margin: auto;
    background: #455d7a;
}

.title {
    font-family:'Bebas Neue', cursive; ;
    color: #ffff;
    font-size: 60px;
    text-align: center;
}

.choices{
    text-align: center;
    color:#ffff;
    border: none;
    padding: 0;
    background: none;  
    word-spacing: 30px;
}

#rock {
    font-size: 40px;
    background-color:#ff0000;
    color:#fff;
}

#paper {
    font-size: 40px; 
    background-color: #000fff;
    color:#fff;
}

#scissors{
    font-size: 40px;
    background-color:#008000;
    color:#fff;
}

.human {
    color:#fff;
    font-size: 40px;
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;

}

.computer {
    color:#fff;
    font-size: 40px;
    float: right;
    width: 50%;
    
    
}

.game {
    text-align: center;
    padding-top:40%;
    color:#fff;
    font-size: 40px;
}

